[phases.setup]
nixPkgs = ["nodejs_20", "python311", "python311Packages.requests", "python311Packages.openai"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "python scripts/get_kalshi.py",
  "python scripts/get_polymarket.py",
  "python scripts/generate_embeddings.py"
]

[start]
cmd = "node server.js"
